html {
    font-size: 62.5%; /* 1rem = 10px 로 초기화*/
} 

* {
    margin: 0px;
    font-size: 3rem;
}

.container {
    width: 100vw;
}

header {
    display: block;
    position: sticky;
    top:0; right:0; left:0;
    background-color: rgb(48, 50, 158);
    width : 100vw;
    height: 8vh;
}

main {
    /*padding: 1vw;*/
    display: block;
    min-height: 65vh;
    width: 100vw;
}

footer {
    display: block;
    height: 22vh;
    background-color: rgb(48, 47, 63);
    color: rgb(255,255,255);
}

div.logo {
    background: url(./img/image2vector.svg) no-repeat center / contain;
    height: 8vh;
    background-size: 18vh;
}

.mainCont {
    width: 96%;
    margin: 0px 2% 0px;
}

#datetime {
    font-size: 4rem;
}

#notice, #total{
    font-size: 3rem;
}

.content {
    display: block;
    margin-top: 2%;
}

#item td, thead th,  form div span{
    font-size: 2.2rem;
    text-align: center;
}

#item tr td input {
    width: 5rem;
    font-size: 2.2rem;
}

#item tr.soldOut, #item tr.soldOut input {
    color:rgb(75, 75, 75);
    text-decoration: line-through;
}

.itemCont table {
    border: 2px;
    border-color: rgb(0,0,0);
}

.btnCont {
    text-align: center;
}

.btn {
    font-size: 2.2rem;
}

form div input, div.cBioCont label, ul li, ul li div, ul li div select, ul li div select option {
    font-size: 2.5rem;
}

#noticeCont {
    font-size: 2.5rem;
    padding-left: 2.5rem;
    padding-top: 1rem;
}

li {
    margin-top: 1rem;
}

.hide {
    display: none;
}

h4 span#total {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footerContent {
    font-size: 2rem;
    text-align: center;
}